*.la
*.lo
*.o
*.pyc
.libs
Makefile
Makefile.msvc
config.h
config.log
config.status
globals_eval.html
libtool
mecab/mecab-config
mecab/mecab.iss
mecab/mecabrc
mecab/python/build/
mecab/src/mecab
mecab/src/mecab-cost-train
mecab/src/mecab-dict-gen
mecab/src/mecab-dict-index
mecab/src/mecab-system-eval
mecab/src/mecab-test-gen
stamp-h1
